* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

:root {
  font-size: 62.2%;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1.0rem;
}

.text h1 {
  margin-left: .4rem;
  text-transform: uppercase;
}

.caixa {
  display: flex;
  flex-direction: column;
  gap: 1.0rem;

  padding: .6rem;
}

.caixa .formu {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.caixa .formu input {
  border: none;
  padding: 1.0rem;

  width: 100%;
}

.formu #btn {
  border: 1px solid red;
  margin-right: 1.0rem;
}

.cards {
  border: 1px solid red;



  height: 100vh;
}

.cards .card {
  border: 1px solid red;
  width: fit-content;

  display: flex;
  padding: .5rem;
  margin-bottom: 1.0rem;

  
}

.cards .card img {
  height: 17.0rem;
  width: 10.0rem;
}

.cards .card .filme {
  display: flex;
  flex-direction: column;
  
  gap: 1.0rem;
  

  height: 50%;
  

  border: 1px solid red;
}

.cards .card .filme h3 {
  font-size: 1.8rem;
}

.cards .card .filme p {

  font-size: 1.4rem;

}